* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* header */
.header {
    background-image: url(../images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.baner {
    color: rgb(255, 255, 255);
    width: 60%;
    padding: 12% 0;
    text-align: center;
    margin: 0 auto;
}

.baner h2 {
    font-size: 60px;
    font-weight: 700;
}

.baner p {
    font-size: 20px;
}

.primary-button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: #FF5959;
    margin-top: 20px;
}

/* donate today*/
.donate-today {
    margin: 120px 22%;
    text-align: center;
}

.section-title {
    font-size: 43px;
    margin-bottom: 20px;
}

.section-description {
    color: #757575;
    font-size: 20px;
    font-weight: 500;
}

.amount {
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    color: #757575;
    font-weight: 1200;
    font-size: 18px;
}

.amount div {
    background-color: #FAFAFA;
    padding: 52px 37px;
    border-radius: 5px;
}

.amount div:hover {
    color: #FF5959;
    background-color: #FFEEEE;
    padding: 50px 35px;
    border: 2px solid #FF5959;
    border-radius: 5px;
    cursor: pointer;
}

.donate-form {
    font-size: 20px;
    color: #83191973;
}

.donate-form hr {
    margin: 10px 0;
}

#taka {
    font-size: 18px;
    border: none;
}

/* donate-plan */
.donate-plan {
    text-align: center;
    margin: 120px 10%;
}

.plans {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.plan {
    width: 25%;
    padding: 80px 30px;
    text-align: left;
    padding-right: 50px;
    border-radius: 5px;
}

.plan img {
    margin-bottom: 30px;
}

.plan h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.plan p {
    font-size: 17px;
    font-weight: 450;
    color: #757575;
}

.plan1 {
    background-color: #EDF5F6;
}

.plan2 {
    background-color: #FFEEEE;
}

.plan3 {
    background-color: #FFF4D6;
}

/* last section */
.last-section {
    margin: 120px 10%;
}

.sub-section {
    display: flex;
    justify-content: first baseline;
    margin-bottom: 100px;
}

.sub-section img {
    width: 40%;
    border-radius: 5px;
}

.prosub-section {
    width: 50%;
    padding: 40px 0;
    padding-right: 80px;
}

.prosub-section1 {
    width: 45%;
}

.prosub-section2 {
    padding-left: 100px;
}

.last-btn {
    width: 250px;
}

/* update */
.last {
    text-align: center;
}

.subscribe {
    margin: 20px auto;
    background-color: #FFF4D6;
    width: 60%;
    padding: 48px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.subscribe input {
    width: 250px;
    padding: 12px 5px;
    margin: 0;
    border-radius: 5px 0 0 5px;
    border: none;
    font-size: 20px;
}

.sub-btn {
    border-radius: 1px;
    padding: 12px 25px;
    border: none;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
}

/* footer */

.footer {
    background-color: #0B0D17;
    height: 180px;
    text-align: center;
}

.footer-title {
    padding: 40px;
    color: #FF5959;
    font-family: 'Courgette', cursive;
}

.footer-para {
    color: #65676F;
}

/* tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .baner {
        width: 80%;
    }

    .baner>h2 {
        font-size: 45px;
    }

    .baner>p {
        font-size: 16px;
    }


    .donate-today {
        margin: 120px 15%;
    }

    .amount {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .plans {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .plan {
        width: 70%;
    }

    .sub-section>img {
        width: 100%;
    }

    .sub-section-1 {
        flex-direction: column-reverse;
    }

    .sub-section-2 {
        flex-direction: column;
    }

    .prosub-section1 {
        width: 100%;
    }

    .prosub-section {
        width: 100%;
        padding: 30px 50px 10px 10px;
    }

    .last {
        margin: 0 10%;
    }

    .subscribe {
        margin: 30px auto;
        sub-section
    }
}

/* mobile */
@media screen and (max-width: 576px) {
    .header {
        background-color: #82D5FF;
        background-image: none;
    }

    .baner h2 {
        font-size: 27px;
    }

    .baner p {
        font-size: 12px;
    }

    .primary-button {
        font-size: 16px;
        height: 40px;
        width: 140px;
    }

    .section-title {
        font-size: 28px;
    }

    .section-description {
        font-size: 13px;
    }

    .donate-today {
        margin: 45px 10%;
    }

    .donate-plan {
        margin: 60px 10%;
    }

    .amount {
        flex-direction: column;
    }

    .amount div {
        padding: 10px 37px;
    }

    .plans {
        flex-direction: column;
        max-width: 28px 0;
        gap: 20px;
    }

    .plan {
        width: 75%;
        padding-right: 0;
        padding: 40px 30px;
    }

    .plan p {
        font-size: 12px;
    }

    .sub-section {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .sub-section-1 {
        flex-direction: column-reverse;
    }

    .prosub-section {
        width: 80%;
    }

    .prosub-section2 {
        padding-left: 15px;
    }

    .sub-section>img {
        width: 100%;
    }

    .last-section {
        margin: 10%;
    }

    .prosub-section1 {
        width: 87%;
    }

    .last-btn {
        width: 200px;
    }

    .subscribe {
        padding: 30px 60px;
    }

    .subscribe input {
        width: 160px;
        font-size: 17px;
    }

    .sub-btn {
        padding: 12px 17px;
        font-size: 17px;
    }

    .footer {
        height: 150px;
    }

    .footer-title {
        padding: 20px;
    }
}